<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      layout:decorator="admin/layout">


    <div layout:fragment="content" >
        <!-- content-->


        <div class="bf-main">
            <div th:replace="admin/fragment/sidebar::fragSidebar"></div>
            <div id="app"   class="bf-body">
                <form>
                    <div id="about-page" class="bf-posts-grid d-flex">

                        <h4>组织管理</h4>
                        <a  style="float: left;width: 10%" href="#" v-on:click="add()" class="btn btn-sm btn-link">新增 <strong>+</strong></a>
                        <table class="table">
                            <thead>
                            <tr>
                                <th>#</th>
                                <th>logo</th>
                                <th>组织名称</th>
                                <th>访问地址</th>
                                <th>创建时间</th>
                                <th>操作</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr v-for="org in organizations">
                                <td>{{org.id}}</td>
                                <td><div class="org-logo-back"><img v-bind:src="webRoot+org.orgLogo" style="width: 100px; max-height: 100px; background: #ccc" :alt="org.orgName"/></div> </td>
                                <td>{{org.orgName}}</td>
                                <td><a :href="webRoot+org.shortUrl" target="_blank">{{webRoot+org.shortUrl}}</a></td>
                                <td>{{dateFormat(org.createTime)}}</td>
                                <td><a href="#" v-on:click="edit(org.id)">编辑</a>
                                    <a href="#" v-on:click="remove(org.id)">删除</a>
                                </td>
                            </tr>
                            </tbody>
                        </table>

                    </div>
                </form>



                <!-- Modal Organization -->
                <div>
                    <div class="modal fade" id="modal-org" tabindex="-1" role="dialog" aria-labelledby="notificationsLabel" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h4 class="modal-title" id="settingsLabel">{{org.editType}}组织</h4>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><i class="fa fa-times"></i></button>
                                </div>
                                <div class="modal-body">

                                    <div class="form-group">
                                        <label class="form-group-label">
                                            组织名称:
                                        </label>
                                        <input type="text" class="form-control" v-model="org.orgName" >
                                    </div>

                                    <div class="form-group ">
                                        <label class="form-group-label">
                                            访问地址:
                                        </label>
                                        <div class="input-group m-input-group m-input-group--square">
                                            <div class="input-group-prepend">
                                        <span class="input-group-text">
                                            <i class="la la-user">  {{siteUrl}} </i>
                                        </span>
                                            </div>
                                            <input type="text" v-model="org.shortUrl" class="form-control m-input" placeholder="">
                                        </div>
                                    </div>


                                    <div id="userinfo">
                                    <div class="form-group">
                                        <label class="form-group-label">
                                            管理员用户名:
                                        </label>
                                        <input type="text" class="form-control" v-model="user.userName" >
                                    </div>

                                    <div class="form-group">
                                        <label class="form-group-label">
                                            管理员邮箱:
                                        </label>
                                        <input type="text" class="form-control" v-model="user.email" >
                                    </div>

                                    <div class="form-group">
                                        <label class="form-group-label">
                                            管理员密码:
                                        </label>
                                        <input type="text" class="form-control" v-model="user.passWord">
                                    </div>

                                    </div>

                                </div>

                                <div class="modal-footer d-flex">
                                    <button class="btn btn-link btn-sm btn-rounded ml-auto" type="button" data-dismiss="modal">取消</button>
                                    <button   class="btn btn-primary btn-sm btn-rounded" type="button" v-on:click="save()">保存</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>



            </div>
        </div>

    </div>



</div>


<th:block layout:fragment = "bodyAssets">
    <!--尾部-->
    <script>
        Vue.use(window.vuelidate.default)

        const app = new Vue({
            el: '#app',
            data: {
                organizations: {},
                org:{editType:"新增"},
                user:{},
                siteUrl: {}
            },
            methods: {
                load: function () {
                    axios.get(webRoot + 'api/organizations')
                        .then(response => {
                        this.organizations = response.data;
                        var hostname = location.hostname;
                        var port = location.port;
                        if(port =="80" || port ==""){
                            this.siteUrl = hostname+"/";
                        }else {
                            this.siteUrl = hostname +":"+port+"/";
                        }
                     }).catch(function (error) { toastr.error(error); });
                },
                save: function () {
                    var userurl =webRoot + 'api/authors/save' ;
                    var orgurl =webRoot+'api/organization/add';
                    var user = this.user;
                    var org = this.org;

                    axios.post(orgurl,org).then(function (response) {
                        debugger;
                        var organization = response.data;
                        var orgId= organization.id;
                        if(orgId>0&&org.editType=="新增"){
                            user.orgId = orgId;
                            axios.post(userurl, user)
                                .then(function (response) {
                                    toastr.success('保存成功');
                                    $("#modal-org").modal("hide");
                                    location.reload();
                                }).catch(function (error) {toastr.error(error); });

                            return false;
                        }
                    })

                },
                edit:function (id) {
                    $("#userinfo").hide();
                    axios.get(webRoot + 'api/organization/'+id)
                        .then(response => {
                        this.org = response.data;
                        this.org.editType = "编辑";
                    }).catch(function (error) { toastr.error(error); });
                    $("#modal-org").modal();
                },
                add:function () {
                    this.user = {editType:"新增"};
                    $("#userinfo").show();
                    $("#modal-org").modal();
                },
                remove:function (id) {
                    var result = confirm("Please confirm removing this organization");
                    if (result) {
                        axios.delete(webRoot + 'api/organization/remove/' + id)
                            .then(response => {
                            toastr.success(response.data.rspMsg);
                        this.load();
                    })
                    .catch(function (error) { toastr.error(error); });
                    }
                    return false;
                },
                status(v) {
                    return {
                        error: v.$error,
                        dirty: v.$dirty
                    }
                },
                dateFormat:function(time) {
                    var date=new Date(time);
                    var year=date.getFullYear();
                    /* 在日期格式中，月份是从0开始的，因此要加0
                     * 使用三元表达式在小于10的前面加0，以达到格式统一  如 09:11:05
                     * */
                    var month= date.getMonth()+1<10 ? "0"+(date.getMonth()+1) : date.getMonth()+1;
                    var day=date.getDate()<10 ? "0"+date.getDate() : date.getDate();
                    var hours=date.getHours()<10 ? "0"+date.getHours() : date.getHours();
                    var minutes=date.getMinutes()<10 ? "0"+date.getMinutes() : date.getMinutes();
                    var seconds=date.getSeconds()<10 ? "0"+date.getSeconds() : date.getSeconds();
                    // 拼接
                    return year+"-"+month+"-"+day+" "+hours+":"+minutes+":"+seconds;
                }
            },
            beforeMount() {
                this.load()
            }
        });

    </script>
</th:block>
