<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      layout:decorator="admin/layout">


    <div layout:fragment="content" >
        <!-- content-->


        <div class="bf-main">
            <div th:replace="admin/fragment/sidebar::fragSidebar"></div>
            <div id="app"   class="bf-body">
                <form>
                    <div class="bf-content bf-content-boxed bf-settings">

                        <div class="form-group">
                            <label class="form-group-label">组织名称</label>
                            <input v-model="organization.orgName" :class="['form-control']" type="text" />
                        </div>


                        <div class="form-group">
                            <label>
                                访问地址
                            </label>
                            <div class="input-group m-input-group m-input-group--square">
                                <div class="input-group-prepend">
                            <span class="input-group-text">
                                <i class="la la-user">  {{siteUrl}} </i>
                            </span>
                                </div>
                                <input type="text" v-model="organization.shortUrl" class="form-control m-input" placeholder="">
                            </div>

                        </div>


                        <div class="form-group">
                            <label class="form-group-label">组织Logo</label>
                            <div class="input-group">
                                <input v-model="organization.orgLogo" type="text" id="txtLogo" name="txtLogo" class="form-control"  />
                                <span class="input-group-btn">
                            <button type="button" class="btn btn-secondary btn-upload" onclick="return fileManagerController.open(updateAppLogoCallback);"> 选择</button>
                        </span>
                            </div>
                        </div>

                        <button type="button"  v-on:click="save()"  class="btn btn-primary btn-main">保存</button>


                    </div>
                </form>
            </div>
        </div>

        <!-- fragment begin-->
        <div th:replace="admin/fragment/files :: filesFragment"></div>
        <!-- fragment end-->
    </div>



</div>


<th:block layout:fragment = "bodyAssets">
    <!--尾部-->
    <script src="/admin/js/app/fileManagerController.js"></script>
    <script>
        Vue.use(window.vuelidate.default)

        const app = new Vue({
            el: '#app',
            data: {
                organization: {},
                siteUrl: {}
            },
            methods: {
                load: function () {
                    axios.get(webRoot + 'api/organization')
                        .then(response => {
                        this.organization = response.data;

                    var hostname = location.hostname;
                    var port = location.port;
                    if(port =="80" || port ==""){
                        this.siteUrl = hostname+"/";
                    }else {
                        this.siteUrl = hostname +":"+port+"/";
                    }


                    $('#app').css('display', '');
                }).catch(function (error) { toastr.error(error); });
                },
                save: function () {
                    var posturl =webRoot + 'api/organization/save' ;

                    var logoUrl =  $("#txtLogo").val();

                    var org = this.organization;
                    org.orgLogo = logoUrl;
                    axios.post(posturl, org)
                        .then(function (response) {
                            if(response.data.rspCode!="000000"){
                                toastr.error(response.data.rspCode+" "+response.data.rspMsg);
                            }else {
                                toastr.success(response.data.rspMsg);
                            }
                        })
                        .catch(function (error) {
                            toastr.error(error);
                        });
                }
            },
            beforeMount() {
                this.load()
            }
        })
    </script>
</th:block>
