<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      layout:decorator="admin/layout">


    <div layout:fragment="content" >
        <!-- content-->


        <div class="bf-main">

            <div th:replace="admin/fragment/sidebar::fragSidebar"></div>

            <div id="app"   class="bf-body">
                <form>
                    <div class="bf-content bf-content-boxed bf-settings">

                        <div class="form-group">
                            <label class="form-group-label">用户名</label>
                            <input v-model="user.userName" :class="['form-control']" type="text" />
                        </div>


                        <div class="form-group">
                            <label class="form-group-label">邮箱</label>
                            <input v-model="user.email" :class="['form-control']" type="text" />
                        </div>


                        <button type="button"  v-on:click="save()"  class="btn btn-primary btn-main">保存</button>
                        <button   v-on:click="open" type="button" class="btn btn-secondary">修改密码</button>


                    </div>
                </form>

                <div class="modal fade" id="dlgChangePwd" tabindex="-1" role="dialog" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h4 class="modal-title" id="hdrSettings">更改密码</h4>
                                <button type="button" class="close ml-2" title="Close" data-placement="bottom" data-tooltip data-dismiss="modal" aria-label="close">
                                <i class="fa fa-times"></i>
                                </button>
                            </div>
                            <div class="modal-body">
                                <div class="settings-body">
                                    <form>
                                        <div class="bf-content bf-content-boxed bf-settings">
                                            <div class="form-group">
                                                <label class="form-group-label">密码</label>
                                                <input id="txtOldPwd" name="txtOldPwd" v-model.trim="$v.password.oldPassword.$model" :class="['form-control', status($v.password.oldPassword)]" type="password" />
                                                <label v-if="!$v.password.oldPassword.required" class="val-error">Required</label>
                                                <label v-if="!$v.password.oldPassword.minLength" class="val-error">At least 4 characters</label>
                                            </div>
                                            <div class="form-group">
                                                <label class="form-group-label">新密码</label>
                                                <input v-model.trim="$v.password.newPassword.$model" :class="['form-control', status($v.password.newPassword)]" type="password" />
                                                <label v-if="!$v.password.newPassword.required" class="val-error">Required</label>
                                                <label v-if="!$v.password.newPassword.minLength" class="val-error">At least 4 characters</label>
                                            </div>
                                            <div class="form-group">
                                                <label class="form-group-label">确认密码</label>
                                                <input v-model.trim="$v.password.confirmPassword.$model" :class="['form-control', status($v.password.confirmPassword)]" type="password" />
                                                <label v-if="!$v.password.confirmPassword.required" class="val-error">Required</label>
                                                <label v-if="!$v.password.confirmPassword.minLength" class="val-error">At least 4 characters</label>
                                                <label v-if="!$v.password.confirmPassword.sameAsPassword" class="val-error">New and confirm passwords do not match</label>
                                            </div>
                                            <button type="button" :disabled="$v.password.$invalid" v-on:click="change($v)" class="btn btn-primary btn-main">保存</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- fragment begin-->
        <div th:replace="admin/fragment/files :: filesFragment"></div>
        <!-- fragment end-->
    </div>



</div>


<th:block layout:fragment = "bodyAssets">
    <!--尾部-->
    <script src="/admin/js/app/fileManagerController.js"></script>
    <script>
        Vue.use(window.vuelidate.default)
        const { required, minLength, email, sameAs } = window.validators

         new Vue({
            el: '#app',
            data: {
                organization: {},
                user: {},
                password: {
                    oldPassword: '',
                    newPassword: '',
                    confirmPassword: ''
                }
            },
             validations: {
                 author: {
                     displayName: { required },
                     email: { required, email }
                 },
                 password: {
                     oldPassword: { required, minLength: minLength(4) },
                     newPassword: { required, minLength: minLength(4) },
                     confirmPassword: { required, minLength: minLength(4), sameAsPassword: sameAs('newPassword') }
                 }
             },
            methods: {
                load: function () {
                    axios.get(webRoot + 'api/user')
                        .then(response => {
                        this.user = response.data.user;

                        $('#app').css('display', '');
                       }).catch(function (error) { toastr.error(error); });
                },
                save: function () {
                    var posturl =webRoot + 'api/authors/update' ;

                    axios.post(posturl, this.user)
                        .then(function (response) {
                            if(response.data.rspCode!="000000"){
                                toastr.error(response.data.rspCode+" "+response.data.rspMsg);
                            }else {
                                toastr.success(response.data.rspMsg);
                            }
                        })
                        .catch(function (error) {
                            toastr.error(error);
                        });
                },
                open: function () {
                    $('#dlgChangePwd').modal();
                    setTimeout(
                        function () {
                            $('#txtOldPwd').focus();
                        }, 500);
                },
                status(v) {
                    return {
                        error: v.$error,
                        dirty: v.$dirty
                    }
                },
                change: function (v) {
                    // this.password.userName = this.author.appUserName;
                    if (v.password.$invalid) {
                        toastr.error('Invalid');
                    }
                    else {
                        axios.put(webRoot + 'api/authors/changepwd', this.password)
                            .then(function (response) {
                                if(response.data.rspCode!="000000"){
                                    toastr.error(response.data.rspCode+" "+response.data.rspMsg);
                                }else {
                                    toastr.success(response.data.rspMsg);
                                }
                                $('#dlgChangePwd').modal('hide');
                            })
                            .catch(function (error) {
                                toastr.error(error);
                            });
                    }
                },
            },
            beforeMount() {
                this.load()
            }
        })
    </script>
</th:block>
