<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      layout:decorator="admin/layout">


    <div layout:fragment="content" >
        <!-- content-->


        <div class="bf-main">
            <div th:replace="admin/fragment/sidebar::fragSidebar"></div>
            <div id="app"   class="bf-body">
                <form>
                    <div id="about-page" class="bf-posts-grid d-flex">

                        <h4>分类管理</h4>
                        <a  style="float: left;width: 10%" href="#" v-on:click="add()" class="btn btn-sm btn-link">新增 <strong>+</strong></a>
                        <table class="table">
                            <thead>
                            <tr>
                                <th>#</th>
                                <th>分类名称</th>
                                <th>app数量</th>
                                <th>操作</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr v-for="cat in categories">
                                <td>{{cat.id}}</td>
                                <td>{{cat.name}}</td>
                                <td>{{cat.appAmount>0?cat.appAmount:0}}</td>
                                <td><a href="#" v-on:click="edit(cat.id)">编辑</a>  <a href="#" v-on:click="remove(cat.id)">删除</a> </td>
                            </tr>
                            </tbody>
                        </table>

                    </div>
                </form>

                <!-- Modal Category -->
                <div th:replace="admin/fragment/categoryMd::catFragment"></div>

            </div>
        </div>

        <!-- fragment begin-->
        <div th:replace="admin/fragment/files :: filesFragment"></div>
        <!-- fragment end-->
    </div>



</div>


<th:block layout:fragment = "bodyAssets">
    <!--尾部-->
    <script src="/admin/js/app/fileManagerController.js"></script>
    <script>
        Vue.use(window.vuelidate.default)

        const app = new Vue({
            el: '#app',
            data: {
                categories: {},
                category:{editType:"新增"}
            },
            methods: {
                load: function () {
                    axios.get(webRoot + 'api/app/categories')
                        .then(response => {
                        this.categories = response.data;
                     }).catch(function (error) { toastr.error(error); });
                },
                saveCategory: function () {
                    var posturl =webRoot + 'api/category/save' ;
                    var cat = this.category;
                    console.log(cat.id);
                    axios.post(posturl, cat)
                        .then(function (response) {
                            toastr.success('保存成功');

                            if(cat.id ==undefined){
                                var _cat = response.data;
                                app.$data.categories.push(_cat);
                            }else {// 这个地方调用不了load方法
                                axios.get(webRoot + 'api/app/categories')
                                    .then(response => {
                                    app.$data.categories = response.data;
                                 }).catch(function (error) { toastr.error(error); });
                            }
                            //app.$options.methods.load();
                            $("#modal-category").modal("hide");
                        }).catch(function (error) {toastr.error(error); });

                    return false;
                },
                edit:function (id) {
                    axios.get(webRoot + 'api/category/'+id)
                        .then(response => {
                        this.category = response.data;
                        this.category.editType = "编辑";
                    }).catch(function (error) { toastr.error(error); });
                    $("#modal-category").modal();
                },
                add:function () {
                    this.category = {editType:"新增"};
                    $("#modal-category").modal();
                },
                remove:function (id) {
                    var result = confirm("Please confirm removing this Category");
                    if (result) {
                        axios.delete(webRoot + 'api/category/remove/' + id)
                            .then(response => {
                            toastr.success(response.data.rspMsg);
                        this.load();
                    })
                    .catch(function (error) { toastr.error(error); });
                    }
                    return false;
                }
            },
            beforeMount() {
                this.load()
            }
        });

    </script>
</th:block>
